header{
    background-color: rgb(236, 192, 220);
    padding: auto;
}

.logo{
    width: 20%;
    position: relative;
    margin: 5px;
    border: 10px;
    padding: 3%;
}

nav{
    position: absolute;
    top: 2%;
    right: 03%;
    }
nav li{
    display: inline;
    padding-top: 2%;
       
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-decoration:none;
    margin: 20px;
}
nav a:hover{
    color: rgb(138, 24, 94);
    text-decoration: underline
    
}

.logotipo{
    display: inline;
    position: absolute;
    right:65%;
    top: 11.5%
}

.logotipo:hover{
    cursor: pointer;
}
.pesquisar{
    position: absolute;
    right: 20%;
    top: 12%;
    width: 40% ;
}
.input-padrao{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80%
}   
.registro{ 
    position: absolute;
    right: 5%;
    top:12%;
    text-decoration:none;
    color: black;
    font-weight: bold;
    font-size: 14px ;
}
main{
    text-align: center;
    margin-bottom: 3%;
}
main li{
    display: inline;
    margin-top: 10px;
    left: 20%;
}

main a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration:none;
    margin: 40px;
    
}

.dropdown-cabelo {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content-cabelo {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    font-weight: bold; 
}
.dropdown-content-cabelo p:hover{
      background-color: rgb(230, 219, 225);
}
  
.dropdown-cabelo:hover .dropdown-content-cabelo{
    display: block;
    cursor: pointer;
}
.dropdown-corpo {
    position: relative;
    display: inline-block;
}
  
.dropdown-content-corpo {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    font-weight: bold; 
}
.dropdown-content-corpo p:hover{
      background-color: rgb(230, 219, 225);
}
  
.dropdown-corpo:hover .dropdown-content-corpo{
    display: block;
    cursor: pointer;
}


.dropdown-linhas {
    position: relative;
    display: inline-block;
}
  
.dropdown-content-linhas {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    font-weight: bold; 
}
.dropdown-content-linhas p:hover{
      background-color: rgb(230, 219, 225);
}
  
.dropdown-linhas:hover .dropdown-content-linhas{
    display: block;
    cursor: pointer;
}

.dropdown-kits {
    position: relative;
    display: inline-block;
}
  
.dropdown-content-kits {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    font-weight: bold; 
}
.dropdown-content-kits p:hover{
      background-color: rgb(230, 219, 225);
}
  
.dropdown-kits:hover .dropdown-content-kits{
    display: block;
    cursor: pointer;
}

.dropdown-promoções {
    position: relative;
    display: inline-block;
}
  
.dropdown-content-promoções {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    font-weight: bold; 
}
.dropdown-content-promoções p:hover{
      background-color: rgb(230, 219, 225);
}
  
.dropdown-promoções:hover .dropdown-content-promoções{
    display: block;
    cursor: pointer;
}

.slider{
  margin: 0 auto;
  width: 400px;
  height: 500px;
  overflow: hidden;
}

.slides{
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input{
  display: none;
}
.slide{
  width: 25%;
  position: relative;
}

.slide img{
  width: 400px;
}

.manual-navigation{
  position:absolute;
  width: 400px;
  margin-top: -30px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border:2px solid rgb(0, 0, 0);
  padding: 5px;  
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right:40px;

}

.manual-btn:hover{
  background-color: rgb(194, 51, 182);
}

#radio1:checked ~ .first{
  margin-left:0;
}

#radio2:checked ~ .first{
  margin-left:-25%;
}
#radio3:checked ~ .first{
  margin-left:-50%;
}


.navigation div{
  border: 2px solid rgb(160, 50, 160);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation{
  position: absolute;
  width: 400px;
  margin-top: 370px;
  display: flex;
  justify-content: center;
  
}
  

.navigation div:not(:last-child){
  margin-right:40px;
  
}

#radio1:checked ~.navigation .auto-btn1{
  background-color: blueviolet;
}
#radio2:checked ~.navigation .auto-btn2{
  background-color: blueviolet;
}
#radio3:checked ~.navigation .auto-btn3{
  background-color: blueviolet;
}